<script>
    $(document).ready(function () {
        addHandlerMenu();
    })
</script>

<div id="content-header">
	<h1>Lotto</h1>
</div>
<div id="breadcrumb">
	<a href="#" title="Go to Home" class="tip-bottom home"><i class="icon-home"></i> Home</a>
	<a href="#"  class="tip-bottom ptw">Lotto</a>
    <a href="#" class="current">Create</a>
</div>

<div class="container-fluid header-form">
    <div class="row-fluid">
        <div class="span3 logo">
            <img src="../../Img/logo-clean.png" />
        </div>
        <div class="span6 title">
            <b>LOCK OUT TAG OUT (LOTO) PERMIT</b><br />
            star Energy Geothermal (Wayang Windu)Limited
        </div>

        <div class="span3 no">
            <br /><i>No : LT-20131212/001</i>
        </div>
    </div>
    
    <div class="row-fluid separator">
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="title-form" colspan="2">
                            <b>1.GENERAL INFORMATION</b><small> (filled by requestor, to review & agreed by Facility Owner)</small>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%">
                            Purpose (work description)
                        </td>
                        <td>
                            :............................................................................................................................................................................................................................
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
   
      

        <div class="row-fluid">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="title-form" colspan="4"><b>2. SCREENING</b> <small>(Filled by project manager, review & agreed by Facility Owner)</small></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NO</td>
                        <td colspan="2" style="text-align:center">
                            DESCRIPTION
                        </td>
                        <td colspan="2" style="text-align:center">
                            REMARKS
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">
                            2.1
                        </td>
                        <td rowspan="3">
                            The Energy types and  associated hazards that need to be controlled  to perform the work safely:<p>
                            <i>(Check appropriate boxes and describe and write associated hazard)</i>
                                                                                                                        </p>
                        </td>
                        <td>
                            <label class="checkbox"><input type="checkbox" />External energy <i>(i.e. Steam, Electricity, etc.)</i></label>  
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label class="checkbox"><input type="checkbox" />Stored Internal Energy: <i>(i.e. Equipment under pressure, residual pressure)</i></label>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label class="checkbox"> <input type="checkbox" />Stored Potential Energy :<i>(i.e. spring tension, weight of equipment, etc)</i></label>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2.2</td>
                        <td colspan="3">
                        Have the proposed controlling methods in the LOTO application form been agreed?&nbsp;<input type="checkbox" />&nbsp; Yes 
                        <i>(continue to next question)</i> <input type="checkbox" /> &nbsp; No 
                        <i>(Return to lock application sheet)</i>
                    </td>
                </tr>
                <tr>
                    <td>2.3</td>
                    <td colspan="3">
                        Has the supervisor brifed their personnel related with potenttial hazardous energy of source of energy and GLARF has been signed ?<br />
                        <input type="checkbox" />&nbsp; Yes 
                        <i>(Continue to next step)</i>&nbsp;
                        <input type="checkbox" />&nbsp;No
                        <i>(return to requestor supervisor to complete GLARF)</i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Note :
                        <ul style="list-style:none">
                            <li><i>1) Write any concern related thes LOTO permit, attach other sheet if requiered</i></li>
                            <li><i>2) 1 ~ 2 r are mandatory to fill, attach other sheet if required</i></li>
                        </ul>
                    </td>
                    <td>.........................................................................................................................<p>.........................................................................................................................</p></td>
                </tr>
            </tbody>
        </table>  
    </div>
    

    <div class="row-fluid">
        <table class="table table-bordered">
            <tr>
                <th class="title-form" colspan="7">
                    <div class="span7">
                        <b>3. Loto PERMIT VALICATION</b>
                        <i><small> All LOTO point has been aplied on ... ... ... ... ... ... ... (dd:mm:yy)</small></i>
                    </div>
                    <div class="span3">
                        Lock box no : ..................
                    </div>
                </th>
            </tr>
            <tr>
                <td rowspan="2">No</td>
                <td colspan="3"><b>3.1 APPROVAL</b><small><i> (LOTO point specified in application form has been completed applied & inspected : fill name, sign and date)</i></small></td>
                <td colspan="3"><b>3.3 CANCELATIONS</b><small><i> (LOTO point ready to removed de-isolated : fill name, sign and date)</i></small></td>
            </tr>
            <tr>
                <td>LOTO Holder</td>
                <td>Supervisor</td>
                <td>Facility Owner</td>
                <td>LOTO Holder</td>
                <td>Supervisor</td>
                <td>Facility Holder</td>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>6</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><small><b>Note:</b></small></td>
                <td colspan="3">
                    <small>
                        <i>
                            <div class="row-fluid">
                                <div class="span1">3.1.1.</div>
                                <div class="span8">By completed the approval section, both parties (requestor and facilty owner) agreed on the work location is safe and ready tp carry out the work safely.</div>
                            </div>
                            <div class="row-fluid">
                                    <div class="span1">3.1.2.</div>
                                    <div class="span9">1<sup>st</sup>Row is to be completed by first froup of workers which is request LOTO permit to facility owner, worker leader shall install pad lock at LOTO Box provided by facility owners; the other row is for oncoming group that require & accept same LOTO point</div>
                            </div>
                            <div class="row-fluid">
                                <div class="span10">...............................................................................................................................................................<br />...............................................................................................................................................................</div>
                            </div>
                        </i>
                    </small>
                </td>
                <td colspan="3">
                    <small>
                        <i>
                            <div class="row-fluid">
                                <div class="span1">3.3.1.</div>
                                <div class="span9">Workers leader responsible to return equipment condition as when the LOTO permit was issued and make sure all team members aware that permit will be cancel and the work site no longer save to performs work. (All tam member shall closed the GLARF before closing LOTO permit</div>
                            </div>
                            <div class="row-fluid">
                                <div class="span1">3.3.2.</div>
                                <div class="span9">By signing at close out column, requestor (holder) returned facility to facility owner and agreed facility owner to normalize associated equipement system</div>
                            </div>
                            <div class="row-fluid">
                                <div class="span10">
                                    ...............................................................................................................................................................<br />...............................................................................................................................................................
                                </div>
                            </div>
                        </i>
                    </small>
                </td>
            </tr>
        </table>
    </div>

   <div class="row-fluid">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="title-form" colspan="7">
                        <b>3.2 LOTO PERMIT SUSPENSION</b> 
                        <i>(suspension must be involve all related parties working under this LOTO permit)</i>
                    </th>
                </tr>
                <tr>
                    <td rowspan="2">No</td>
                    <td colspan="3"><i>LOTO PERMIT SUSPENSION</i></td>
                    <td colspan="3"><i>LOTO PERMIT RE-VALIDATION</i></td>
                </tr>
                <tr>
                    <td style="text-align:center"><b><i>Requestor's Supervisor</i></b></td>
                    <td style="text-align:center"><b>Start Suspension</b><br /><i>(date time)</i></td>
                    <td style="text-align:center"><b>Facility Owner</b></td>
                    <td style="text-align:center"><b>Requestor's<br />Supervisor</b></td>
                    <td style="text-align:center"><b>Re-Validate<br /></b><i>(date time)</i></td>
                    <td style="text-align:center"><b>Facility Owner</b></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                 <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                 <tr>
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                 <tr>
                    <td>4</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                 <tr>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>Note:</b></td>
                    <td colspan="6"><small><i>For Loto Point Changes must be agreed by all parties (completed form 102d); All related GLARF must be canceled prior executions (attached on form 102b); All parties must witness suspension process<br />
                        (unlock LOTO box, LOTO point changes on site, relock LOTO box)
                        </i></small><br />
                        .........................................................................................................................................................................................................
                    </td>
                </tr>
            </thead>
        </table> 
</div>