.workflow-container { position: relative; }
.workflow-node { position: absolute; }
    .workflow-node .workflow-box { float: left; width: 150px; height: 50px; border: solid 1px #000; text-align: center; }
        .workflow-node .workflow-box .workflow-text { vertical-align: middle; padding: 0 5px; padding-top: 10px; }
    .workflow-node .workflow-line { float: left; margin-top: 10px; }
.workflow-bridge { position: absolute; }

/* COMMON LAYOUT FOR WORKFLOW NODES */
.workflow-col-2 { left: 252px; }
.workflow-col-3 { left: 504px; }
.workflow-col-4 { left: 756px; }

.workflow-row-2 { height: 260px; }