<script>
    $(document).ready(function () {
        addHandlerMenu();
    })
</script>

<div id="content-header">
	<h1>Excavation</h1>
</div>
<div id="breadcrumb">
	<a href="#" title="Go to Home" class="tip-bottom home"><i class="icon-home"></i> Home</a>
	<a href="#"  class="tip-bottom ptw">Excavation</a>
    <a href="#" class="current">Create</a>
</div>
<div class="container-fluid header-form">
    <div class="row-fluid">
        <div class="span3 logo">
            <img src="../../Img/logo-clean.png" />
        </div>
        <div class="span6 title">
            <b>EXCAVATION PERMIT FORM</b><br />
            Star Energy Geothermal ( Wayang Windu ) Limited
        </div>

        <div class="span3 no">
            <br /><i>No Excavation : LT-20131212/001</i>
        </div>
        <div class="row-fluid separator"></div>      
    </div>
    
    
    
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4"><b>GENERAL INFORMATION</b><small> (Completed by requestor)</small></div>
       
    </div>
    <div class="row-fluid">
        <div class="span3">Work location</div>
        <div class="span5">:..................................................................................</div>
        <div class="span4">Supervisor<small>(project manager): ...................................</small></div>
    </div>
    <div class="row-fluid">
        <div class="span3">Workers leader</div>
        <div class="span5">:..................................................................................</div>
        <div class="span4">Total crew : ...............................................</div>
    </div>
    <div class="row-fluid">
        <div class="span3">Purpose</div>
        <div class="span9">:..........................................................................................................................................................................................</div>
    </div>
    <div class="row-fluid">
        <div class="span3">Date</div>
        <div class="span9">:..................................................................................</div>
    </div>
    <div class="row-fluid">
        <div class="span7" style="text-align:center"><b>ESCAVATION CLEARANCE</b></div>
        <div class="span5" style="text-align:center">HIRA No: <input type="text" class="table-input table-input-120" /></div>    
    </div>
    <div class="row-fluid">
        <div class="span12" style="text-align:center"><small>Description </small></div>
    </div>

    

    <div class="row-fluid">
        <table class="table table-bordered">
            <tr>
                <td>1</td>
                <td>Work perform by</td>
                <td></td>
                <td colspan="3">Manual</td>
                <td></td>
                <td colspan="5">Mechanical</td>
                <td></td>
                <td colspan="5">Combined</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Excavation method</td>
                <td></td>
                <td colspan="3">Sloping/ trenching</td>
                <td></td>
                <td colspan="5">Shoring</td>
                <td></td>
                <td colspan="7">Other: (specify).............</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Equipment</td>
                <td></td>
                <td style="text-align:center"><small>Hand tools</small></td>
                <td></td>
                <td style="text-align:center" colspan="3"><small>Backhoe</small></td>
                <td></td>
                <td style="text-align:center" colspan="2"><small>Dozer</small></td>
                <td></td>
                <td style="text-align:center" colspan="3">Auger</td>
                <td></td>
                <td style="text-align:center">Pilling</td>
                <td></td>
                <td colspan="2">Other</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Estimate soil volume</td>
                <td colspan="3">.......................... M<sup>3</sup></td>
                <td colspan="5">Disposal location:</td>
                <td colspan="5">................</td>
                <td></td>
                <td colspan="2">Permanent</td>
                <td></td>
                <td>Temporary</td>
            </tr>
        </table> 
    </div>



    <div class="row-fluid">
        <table class="table table-bordered">
                <tr>
                    <th>NO</th>
                    <th colspan="3">DESCRIPTION</th>
                    <th colspan="2">SPV</th>
                    <th>E&I</th>
                    <th>CIV</th>
                    <th colspan="2">FO</th>
                    <th>REMARK</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td colspan="3">Are all related parties has check (Power or <br />communication cable, pipe line etc)</td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td colspan="3">E&I and facilities official need to involve during <br />work commences</td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>
            <tr>
                <td>3</td>
                <td colspan="3">Soil disposal are required</td>
                <td colspan="2"></td>
                <td colspan="2" style="background:#000"></td>
                <td colspan="2"></td>
                <td><label style="background:#ffd800">if yes get approval from ENV</label></td>
            </tr>
            <tr>
                <td>4</td>
                <td colspan="3">Work completion agreed by SEG official<br />(Landscaping, compacting backfill)</td>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td colspan="2"></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td colspan="3">Excavation can be done safely</td>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td colspan="2"></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="4"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

   

    <div class="row-fluid">
        <div class="span12">
            NOTE : .......................................................................................................................................................................................................................................<br />
            ....................................................................................................................................................................................................................................................
        </div>
    </div>



    <div class="row-fluid">
        <div class="span12" style="text-align:center"><b>VALIDATION</b></div>
    </div>


    <div class="row-fluid">
        <table class="table table-bordered">
            <tr>
                <td colspan="4"></td>
                <td></td>
            </tr>
            <tr>
                <td style="padding-top:150px; text-align:center">Requstor<br /><small>Name & Date</small></td>
                <td style="padding-top:150px; text-align:center">Supervisor<br /><small>Name & Date</small></td>
                <td style="padding-top:150px; text-align:center">E&I Official<br /><small>Name & Date</small></td>
                <td style="padding-top:150px; text-align:center">Civil Official<br /><small>Name & Date</small></td>
                <td style="padding-top:150px; text-align:center">Facility Owner<br /><small>Name & Date</small></td>
            </tr>          
        </table>
    </div>
    
    
    
    <div class="row">
        <div class="span12">Note: <small>(Write any consest related excavation program i.e hazard precaution, special condition, excavation engineer assign, attach other sheet if necessary)</small>
            <br />...................................................................................................................................................................................................................................................</br>
                  ...................................................................................................................................................................................................................................................
            <br />
            NOTE : <small style="background:#f00; color:#fff">tulisan adalah pesan saat di tinggal kan dalam keadaan aman</small>
        </div>
    </div>
    
  

    <div class="row-fluid">
        <div class="span12" style="text-align:center"><b>CANCELATION</b></div>
    </div>

    

    <div class="row-fluid">
        <table class="table table-bordered">
            <tr>
                <td style="padding-top:150px; text-align:center">Requestor<br /><small>Name & Date</small></td>
                <td style="padding-top:150px; text-align:center">Supervisor<br /><small>Name & Date</small></td>
                <td style="padding-top:150px; text-align:center">Facilities Official<br /><small>Name & Date</small></td>
                <td style="padding-top:150px; text-align:center">E&I Official<br /><small>Name & Date</small></td>
                <td style="padding-top:150px; text-align:center">Facility Owner<br /><small>Name & Date</small></td>
            </tr>
        </table>
    </div>

   

    <div class="row-fluid">
        <div class="span12">
            <ul>
                <li><small>Write any related completion work excavation i.e. special condition, by pass existing facilities etc, attach other shhet if necessary</small></li>
            </ul>
            .......................................................................................................................................................................................................................................................<br />
            .......................................................................................................................................................................................................................................................
            <br />
            <small><i>Distribution during work commences: Original Facility owner: 1<sup>st</sup> copy to Permit Holder on work place, 2<sup>nd</sup> copy to supervisor:<br />
                After PTW closed original Facility owner:1<sup>st</sup> copy to SHE 2<sup>nd</sup> copy to supervisor
                   </i></small>
        </div>
    </div>
</div>
