<script>
    $(document).ready(function () {
        addHandlerMenu();
    })
</script>
@{
    var requestor = Session["user"] as PermitToWork.Models.User.UserEntity;
    string m = ViewBag.m as string;
}
<div id="content-header">
	<h1>Permit To Work List</h1>
</div>
<div id="breadcrumb">
	<a href="#"><i class="icon-home"></i> Home</a>
	<a href="#" class="current">Permit To Work</a>
</div>
<div class="alert alert-error text-center" style="display:none" id="fail">
    <strong>Error!</strong> <span id="errorMessage"></span>
</div>
<div id="content-hazard">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <input class="btn" type="button" value="Add New Record" onclick="createPtw();" /><br />
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
		            <div class="widget-title">
			            <span class="icon">
				            <i class="icon-align-justify"></i>									
			            </span>
			            <h5>Permit To Work List</h5>
		            </div>
		            <div class="widget-content nopadding">
                        <div id="grid-ptw" class="span12"></div>
		            </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-kendo-template" id="extend-template">
    @if (requestor.roles.Exists(p => p.role == (int)PermitToWork.Models.User.UserEntity.role.ADMINMASTERSHE)) {
    <text><input type="button" class="btn btn-primary" value="Edit" onclick="editPtw(#= id #)"/>
    #if (status == 5 && new Date() <= validity_period_end) {#
    <input type="button" class="btn btn-warning" value="Extend" onclick="extendPtw(#= id #)"/>
    #}#</text>
    }
</script>
<script>
    $(document).ready(function () {
        var crudServiceBaseUrl = "Ptw",
            dataSourceIn = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/Binding",
                        type: "POST"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                pageSize: 30,
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            id: { editable: false },
                            ptw_no: { type: "string", nullable: "true" },
                            ptw_status: { type: "string", nullable: "true", editable: false },
                            status: { type: "number", editable: false },
                            validity_period_end: { type: "date", editable: false }
                        }
                    }
                },
                pageSize: 10
            });

        $("#grid-ptw").kendoGrid({
            dataSource: dataSourceIn,
            pageable: true,
            sortable: true,
            filterable: true,
            columns: [
                { field: "ptw_no", title: "PTW Number", type: "string" },
                { field: "ptw_status", title: "PTW Status", type: "string" },
                { title: "Command", template: kendo.template($("#extend-template").html()), width: 180 },
            ],
            height: 400
        });

        function getDataRowGrid(e) {
            return $(e.target).closest("tr");
        }

        //function editPtw(e) {
        //    var data = this.dataItem(getDataRowGrid(e));
        //    $('#content').load('Ptw/Edit/', { id: data.id });
        //}

        //function extendPtw(e) {
        //    var r = confirm('Are you sure want to extend this Permit To Work?');
        //    if (r == true) {
        //        var data = this.dataItem(getDataRowGrid(e));
        //        $.post('Ptw/Extends', { id: data.id }, function (resp) {
        //            if (resp.status == "401" || resp.status == "402" || resp.status == "403") {

        //            } else {
        //                $('#content').load('Ptw/Extend/' + data.id);
        //            }
        //        });
        //    } else {
                
        //    }
        //}

        if ('@m' != '') {
            $('#errorMessage').html('@m');
            $('#fail').show(300);
            setTimeout(function () { $('#fail').hide(300) }, 3000);
        }
    });

    function editPtw(e) {
        //var data = this.dataItem(getDataRowGrid(e));
        var data = e;
        $('#content').load('Ptw/Edit/', { id: e });
    }

    function extendPtw(e) {
        var r = confirm('Are you sure want to extend this Permit To Work?');
        if (r == true) {
            //var data = this.dataItem(getDataRowGrid(e));
            var data = e;
            $.post('Ptw/Extends', { id: data }, function (resp) {
                if (resp.status == "401" || resp.status == "402" || resp.status == "403") {

                } else {
                    $('#content').load('Ptw/Extend/' + data.id);
                }
            });
        } else {

        }
    }

    function createPtw() {
        $('#content').load('Ptw/Create');
    }
</script>